@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(45deg, #6f6056, #76848b);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

} 


.container{
width: 100%;
display: flex;
padding-left: 10px;
}

.slide{
  color: white;
  cursor: pointer;
  height: 80vh;
  margin: 10px;
  border-radius: 20px;
  flex:1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}

.slide h3{
  position: absolute;
  font-size: 20px;
  margin: 10px;
  bottom: 20vh;
  opacity: 0;
}



.slide.active{

flex:10;

}
.slide.active h3{

  flex:10;
  opacity: 1;
  transition: opacity 0.5s ease-in 0.3S;
}
  
